* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}
body {
  background: var(--Background, #f1f1f1);
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 0px;
}
.nav-bar {
  width: inherit;
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  background: var(--color-scales-gray-16, #1a1a1a);
  gap: 8px;
}

.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7.517px;
  flex: 1 0 0;
}

.search-box {
  display: flex;
  width: 480px;
  height: 32px;
  padding: 8px;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid var(--stroke-s-200, #616161);
  background: var(--grey-g-200, #303030);
}
.search-box:hover {
  flex-shrink: 0;
  border: 1px solid var(--stroke-s-100, #e1e1e1);
}
.search-box:active {
  border: 2px solid var(--White, #fff);
}
.search-box:focus-within {
  flex-shrink: 0;
  border: 2px solid var(--White, #fff);
}
.search-input {
  color: var(--grey-g-100, #b5b5b5);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  width: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 0;
}
.menu-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
}
.notification-box {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--grey-grey-200, #303030);
}
.notification-box:hover {
  background: var(--font-mid-2, #616161);
}
.notification-box:active {
  background: var(--grey-grey-50, #656266);
}
.notification-box:focus {
  outline: none;
  background: var(--grey-grey-50, #656266);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}
.profile-box {
  display: flex;
  padding: 2px 2px 2px 8px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--grey-grey-200, #303030);
}
.profile-box:hover {
  background: var(--font-mid-2, #616161);
}
.profile-box:active {
  background: var(--grey-grey-50, #656266);
}
.profile-box:focus {
  outline: none;
  background: var(--grey-grey-50, #656266);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}
.username {
  color: var(--font-light, #e3e3e3);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.initials-box {
  display: flex;
  height: 28px;
  padding: 9px 5px 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #36fba1;
}
.initials {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.select-a-plan {
  display: flex;
  width: 800px;
  padding: 12px 8px 12px 16px;
  /* justify-content: space-between; */
  align-items: center;
  border-radius: 8px;
  background: var(--grey-grey-300, #1a1a1a);
  max-width: 100vw;
}
.select-desc {
  color: var(--font-light, #e3e3e3);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.select-btn {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--White, #fff);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}
.select-banner {
  width: fit-content;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-btn:hover {
  background: #f7f7f7;
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}
.select-btn:active {
  background: #f7f7f7;
  box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
}
.select-btn:focus {
  outline: none;
  background: var(--White, #fff);

  border: 2px solid var(--states-focused, #005bd3);
}
.select-text {
  color: var(--font-dark, #323232);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.select-plan-link {
  text-decoration: none;
  outline: none;
}

.cancel-btn {
  display: flex;
  padding: 6px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
}
#dismiss-trial:focus {
  outline: none;
  border: 2px solid var(--states-focused, #005bd3);
}

.setup-guide-close {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100vw;
}
.setup-guide-open {
  display: flex;
  width: 800px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  border-radius: 18px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  max-width: 100vw;
}
.setup-guide-header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.setup-guide-header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.setup-guide-chevron {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
}
.setup-guide-chevron:hover {
  background: var(--states-hover, #f1f1f1);
}
.setup-guide-chevron:active {
  background: var(--states-pressed, #f0f0f0);
}
.setup-guide-chevron:focus {
  outline: none;
  border: 2px solid var(--states-focused, #005bd3);
}
#arrow-down {
  display: none;
}
.setup-guide-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.setup-title {
  color: var(--font-dark, #303030);

  /* Text-14/semi bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
}
.setup-msg {
  color: var(--font-dark, #303030);

  /* Text-13/regular */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 18.2px */
}
.setup-completed-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.completed-text {
  color: var(--font-dark, #303030);

  /* Text-12/regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
}
.setup-guide-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
  align-self: stretch;
  overflow: hidden;
}

.customize-store {
  display: flex;
  padding: 8px 8px 12px 8px;
  align-items: center;
  gap: 96px;
  align-self: stretch;
  border-radius: 10px;
  background: #f3f3f3;
}
.customize-store-left {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.checkbox-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  /* align-self: stretch; */
  background-color: transparent;
}
.checkbox-container:focus {
  outline: none;
  border-radius: 6px;
  border: 2px solid var(--states-focused, #005bd3);
}
.dashed-circles {
  width: 24px;
  height: 24px;
}
.customize-store-desc {
  display: flex;
  padding: 2px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.customize-store-title {
  color: var(--font-dark, #303030);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.customize-store-msg {
  align-self: stretch;
  color: var(--font-mid-2, #616161);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.learn-more {
  color: var(--states-focused, #005bd3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.customize-btn-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.customize-text {
  color: var(--font-light, #f6f3f6);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.customize-illustration {
  width: 156.145px;
  height: 120px;
}
.customize-img {
  width: 156.145px;
  height: 120px;
  flex-shrink: 0;
  background: url("https://crushingit.tech/hackathon-assets/customise-store.png"),
    transparent 50% / cover no-repeat;
}

.add-product {
  display: flex;
  padding: 0px;
  align-items: center;
  gap: 96px;
  align-self: stretch;
  border-radius: 10px;
  background: #f3f3f3;
}
.add-product-left {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.add-product-desc {
  display: flex;
  padding: 2px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.add-product-title {
  color: var(--font-dark, #303030);

  /* Text-13/semi bold */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 18.2px */
}
.add-product-msg {
  align-self: stretch;
  color: var(--font-mid-2, #616161);

  /* Text-13/medium */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
}
.add-btn-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.add-text {
  color: var(--font-light, #f6f3f6);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.add-illustration {
  width: 156.145px;
  height: 120px;
}
.add-img {
  width: 156.145px;
  height: 120px;
  flex-shrink: 0;
  background: url("https://crushingit.tech/hackathon-assets/product.png"),
    transparent 50% / cover no-repeat;
}
.import-btn {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border-color: transparent;
  background: transparent;
}
.import-btn:hover {
  background: #e7e7e7;
}
.import-btn:active {
  background: #e0e0e0;
}
.import-btn:focus {
  outline: none;
  border: 2px solid var(--states-focused, #005bd3);
  background: #fff;
}
.import-text {
  color: var(--font-dark, #323232);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
}

.add-domain {
  display: flex;
  padding: 0px;
  align-items: center;
  gap: 96px;
  align-self: stretch;
  border-radius: 10px;
  background: #f3f3f3;
}
.add-domain-left {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.add-domain-desc {
  display: flex;
  padding: 2px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.add-domain-title {
  color: var(--font-dark, #303030);

  /* Text-13/semi bold */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 18.2px */
}
.add-domain-msg {
  align-self: stretch;
  color: var(--font-mid-2, #616161);

  /* Text-13/medium */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
}
.domain-btn-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.domain-text {
  color: var(--font-light, #f6f3f6);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.domain-illustration {
  width: 156.145px;
  height: 120px;
}
.domain-img {
  width: 156.145px;
  height: 120px;
  flex-shrink: 0;
  background: url("https://crushingit.tech/hackathon-assets/website.png"),
    transparent 50% / cover no-repeat;
}

.name-store {
  display: flex;
  padding: 0px;
  align-items: center;
  gap: 96px;
  align-self: stretch;
  border-radius: 10px;
  background: #f3f3f3;
}
.name-store-left {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.name-store-desc {
  display: flex;
  padding: 2px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.name-store-title {
  color: var(--font-dark, #303030);

  /* Text-13/semi bold */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 18.2px */
}
.name-store-msg {
  align-self: stretch;
  color: var(--font-mid-2, #616161);

  /* Text-13/medium */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
}
.name-store-btn-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.name-store-text {
  color: var(--font-light, #f6f3f6);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.name-store-illustration {
  width: 156.145px;
  height: 120px;
}
.name-store-img {
  width: 156.145px;
  height: 120px;
  flex-shrink: 0;
  background: url("https://crushingit.tech/hackathon-assets/name-store.png"),
    transparent 50% / cover no-repeat;
}

.payment-provider {
  display: flex;
  padding: 0px;
  align-items: center;
  gap: 96px;
  align-self: stretch;
  border-radius: 10px;
  background: #f3f3f3;
}
.payment-provider-left {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.payment-provider-desc {
  display: flex;
  padding: 2px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.payment-provider-title {
  color: var(--font-dark, #303030);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.payment-provider-msg {
  align-self: stretch;
  color: var(--font-mid-2, #616161);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.payment-provider-btn-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.payment-provider-text {
  color: var(--font-light, #f6f3f6);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.payment-provider-illustration {
  width: 156.145px;
  height: 120px;
}
.payment-provider-img {
  width: 156.145px;
  height: 120px;
  flex-shrink: 0;
  background: url("https://crushingit.tech/hackathon-assets/payment.png"),
    transparent 50% / cover no-repeat;
}
.fw-400 {
  font-weight: 400;
}
.bg-transparent {
  background: transparent;
}
.overflow-hidden {
  overflow: hidden;
}
.h-0 {
  height: 0px;
}

.guide-padding {
  padding: 8px 8px 12px 8px;
}
#customize-store-mini {
  display: none;
}
.main-item-btn {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}
.main-item-btn:hover {
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #2a2a2a;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}
.main-item-btn:active {
  border-radius: 6px;
  background: #2b2b2b;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}
.main-item-btn:focus {
  /* outline: none; */
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 5px #005bd3, 0px 0px 0px 3px #fff,
    0px 0px 0px 1.5px #333;
}
.store-dropdown-container {
  display: none;
  width: 320px;
  padding: 6px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  transform: translateY(50px);
}

.store-dropdown-top {
  display: flex;
  padding: 0px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.store-name-container {
  display: flex;
  padding: 4px 12px 4px 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(--states-hover, #f1f1f1);
  text-decoration: none;
}
.store-desc {
  display: flex;
  align-items: center;
  gap: 8px;
}
.store-initials-box {
  display: flex;
  height: 28px;
  padding: 9.625px 5.875px 10.375px 6.125px;
  justify-content: center;
  align-items: center;
  border-radius: 5.25px;
  background: #36fba1;
}
.store-initials {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.store-title {
  color: var(--font-dark, #303030);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.store-initials-box {
  display: flex;
  height: 28px;
  padding: 9.625px 5.875px 10.375px 6.125px;
  justify-content: center;
  align-items: center;
  border-radius: 5.25px;
  background: #36fba1;
}
.store-initials {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.all-stores-container {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}
.all-stores-text {
  color: var(--font-dark, #303030);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.all-stores-icon-box {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}
.line {
  width: 320px;
  height: 0.75px;
  background: #e1e1e1;
}
.store-dropdown-center {
  display: flex;
  padding: 0px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.store-dropdown-center-box {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  text-decoration: none;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.store-name-container:hover,
.all-stores-container:hover,
.store-dropdown-center-box:hover,
.name-email-box:hover,
.manage-acct-box:hover,
.logout-box:hover,
.alert-icon:hover {
  background: var(--states-hover, #f1f1f1);
}
.store-name-container:active,
.all-stores-container:active,
.store-dropdown-center-box:active,
.name-email-box:active,
.manage-acct-box:active,
.logout-box:active,
.alert-icon:active {
  background: var(--states-pressed, #f0f0f0);
}
.store-name-container:focus,
.all-stores-container:focus,
.store-dropdown-center-box:focus,
.name-email-box:focus,
.manage-acct-box:focus,
.logout-box:focus,
.alert-icon:focus {
  outline: none;
  border: 2px solid var(--states-focused, #005bd3);
}
.alert-icon {
  border-radius: 5px;
}
.store-dropdown-center-text {
  color: var(--font-dark, #303030);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.store-dropdown-bottom {
  display: flex;
  padding: 0px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.name-email-box {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  text-decoration: none;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.name {
  color: var(--font-dark, #303030);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.email {
  color: var(--grey-grey-100, var(--font-mid-2, #616161));
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.manage-acct-box {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  text-decoration: none;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.manage-acct-text {
  color: var(--font-dark, #303030);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.logout-box {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  text-decoration: none;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.logout-text {
  color: var(--font-dark, #303030);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.alerts-container {
  display: none;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  transform: translateY(50px);
}
.alerts-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.alert-title {
  color: var(--font-dark, #303030);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.icons-box {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.alerts-bottom {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 8px;
  background: var(--states-hover, #f1f1f1);
}
.no-alert {
  color: var(--font-mid-2, #616161);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}
.pointer {
  cursor: pointer;
}

.menu-active {
  display: block;
}
a {
  width: 100%;
  text-decoration: none;
}
li {
  width: 100%;
  list-style-type: none;
}

#logo-mini {
  display: none;
}
@media only screen and (max-width: 767px) {
  #logo-big {
    display: none;
  }
  #logo-mini {
    display: block;
  }
  .search-box {
    display: flex;
    height: 32px;
    padding: 8px;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--stroke-s-200, #616161);
    background: var(--grey-g-200, #303030);
  }
  #username {
    display: none;
  }
  .profile-box {
    padding: 0px;
  }
  .search-box {
    width: fit-content;
  }
  .select-a-plan {
    border-radius: 0px;
  }
  .select-banner {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
  }
  .customize-illustration,
  .add-illustration,
  .domain-illustration,
  .name-store-illustration,
  .payment-provider-illustration {
    display: none;
  }
}

.spinner {
  animation: .2s spin linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tick {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 100%;
  animation: 0.3s rotate linear;
}
@keyframes rotate {
  from {
    transform: rotate(270deg);
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
    width: 24px;
    height: 24px;
  }
}
.hide {
  display: none;
}
